# Core functionality - changes here should be rare!
/src/app.py                   @SatNaingTun
/src/backend/database.py      @SatNaingTun
/src/backend/routers/auth.py  @SatNaingTun

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SatNaingTun
